@media (min-width: 1920px) {
    .ht-xxl-5 {
      height: 5px; }
    .ht-xxl-5p {
      height: 5%; }
    .mx-ht-xxl-5p {
      max-height: 5%; }
    .mn-ht-xxl-5p {
      min-height: 5%; }
    .ht-xxl-5-f {
      height: 5px !important; }
    .ht-xxl-5p-f {
      height: 5% !important; }
    .ht-xxl-10 {
      height: 10px; }
    .ht-xxl-10p {
      height: 10%; }
    .mx-ht-xxl-10p {
      max-height: 10%; }
    .mn-ht-xxl-10p {
      min-height: 10%; }
    .ht-xxl-10-f {
      height: 10px !important; }
    .ht-xxl-10p-f {
      height: 10% !important; }
    .ht-xxl-15 {
      height: 15px; }
    .ht-xxl-15p {
      height: 15%; }
    .mx-ht-xxl-15p {
      max-height: 15%; }
    .mn-ht-xxl-15p {
      min-height: 15%; }
    .ht-xxl-15-f {
      height: 15px !important; }
    .ht-xxl-15p-f {
      height: 15% !important; }
    .ht-xxl-20 {
      height: 20px; }
    .ht-xxl-20p {
      height: 20%; }
    .mx-ht-xxl-20p {
      max-height: 20%; }
    .mn-ht-xxl-20p {
      min-height: 20%; }
    .ht-xxl-20-f {
      height: 20px !important; }
    .ht-xxl-20p-f {
      height: 20% !important; }
    .ht-xxl-25 {
      height: 25px; }
    .ht-xxl-25p {
      height: 25%; }
    .mx-ht-xxl-25p {
      max-height: 25%; }
    .mn-ht-xxl-25p {
      min-height: 25%; }
    .ht-xxl-25-f {
      height: 25px !important; }
    .ht-xxl-25p-f {
      height: 25% !important; }
    .ht-xxl-30 {
      height: 30px; }
    .ht-xxl-30p {
      height: 30%; }
    .mx-ht-xxl-30p {
      max-height: 30%; }
    .mn-ht-xxl-30p {
      min-height: 30%; }
    .ht-xxl-30-f {
      height: 30px !important; }
    .ht-xxl-30p-f {
      height: 30% !important; }
    .ht-xxl-35 {
      height: 35px; }
    .ht-xxl-35p {
      height: 35%; }
    .mx-ht-xxl-35p {
      max-height: 35%; }
    .mn-ht-xxl-35p {
      min-height: 35%; }
    .ht-xxl-35-f {
      height: 35px !important; }
    .ht-xxl-35p-f {
      height: 35% !important; }
    .ht-xxl-40 {
      height: 40px; }
    .ht-xxl-40p {
      height: 40%; }
    .mx-ht-xxl-40p {
      max-height: 40%; }
    .mn-ht-xxl-40p {
      min-height: 40%; }
    .ht-xxl-40-f {
      height: 40px !important; }
    .ht-xxl-40p-f {
      height: 40% !important; }
    .ht-xxl-45 {
      height: 45px; }
    .ht-xxl-45p {
      height: 45%; }
    .mx-ht-xxl-45p {
      max-height: 45%; }
    .mn-ht-xxl-45p {
      min-height: 45%; }
    .ht-xxl-45-f {
      height: 45px !important; }
    .ht-xxl-45p-f {
      height: 45% !important; }
    .ht-xxl-50 {
      height: 50px; }
    .ht-xxl-50p {
      height: 50%; }
    .mx-ht-xxl-50p {
      max-height: 50%; }
    .mn-ht-xxl-50p {
      min-height: 50%; }
    .ht-xxl-50-f {
      height: 50px !important; }
    .ht-xxl-50p-f {
      height: 50% !important; }
    .ht-xxl-55 {
      height: 55px; }
    .ht-xxl-55p {
      height: 55%; }
    .mx-ht-xxl-55p {
      max-height: 55%; }
    .mn-ht-xxl-55p {
      min-height: 55%; }
    .ht-xxl-55-f {
      height: 55px !important; }
    .ht-xxl-55p-f {
      height: 55% !important; }
    .ht-xxl-60 {
      height: 60px; }
    .ht-xxl-60p {
      height: 60%; }
    .mx-ht-xxl-60p {
      max-height: 60%; }
    .mn-ht-xxl-60p {
      min-height: 60%; }
    .ht-xxl-60-f {
      height: 60px !important; }
    .ht-xxl-60p-f {
      height: 60% !important; }
    .ht-xxl-65 {
      height: 65px; }
    .ht-xxl-65p {
      height: 65%; }
    .mx-ht-xxl-65p {
      max-height: 65%; }
    .mn-ht-xxl-65p {
      min-height: 65%; }
    .ht-xxl-65-f {
      height: 65px !important; }
    .ht-xxl-65p-f {
      height: 65% !important; }
    .ht-xxl-70 {
      height: 70px; }
    .ht-xxl-70p {
      height: 70%; }
    .mx-ht-xxl-70p {
      max-height: 70%; }
    .mn-ht-xxl-70p {
      min-height: 70%; }
    .ht-xxl-70-f {
      height: 70px !important; }
    .ht-xxl-70p-f {
      height: 70% !important; }
    .ht-xxl-75 {
      height: 75px; }
    .ht-xxl-75p {
      height: 75%; }
    .mx-ht-xxl-75p {
      max-height: 75%; }
    .mn-ht-xxl-75p {
      min-height: 75%; }
    .ht-xxl-75-f {
      height: 75px !important; }
    .ht-xxl-75p-f {
      height: 75% !important; }
    .ht-xxl-80 {
      height: 80px; }
    .ht-xxl-80p {
      height: 80%; }
    .mx-ht-xxl-80p {
      max-height: 80%; }
    .mn-ht-xxl-80p {
      min-height: 80%; }
    .ht-xxl-80-f {
      height: 80px !important; }
    .ht-xxl-80p-f {
      height: 80% !important; }
    .ht-xxl-85 {
      height: 85px; }
    .ht-xxl-85p {
      height: 85%; }
    .mx-ht-xxl-85p {
      max-height: 85%; }
    .mn-ht-xxl-85p {
      min-height: 85%; }
    .ht-xxl-85-f {
      height: 85px !important; }
    .ht-xxl-85p-f {
      height: 85% !important; }
    .ht-xxl-90 {
      height: 90px; }
    .ht-xxl-90p {
      height: 90%; }
    .mx-ht-xxl-90p {
      max-height: 90%; }
    .mn-ht-xxl-90p {
      min-height: 90%; }
    .ht-xxl-90-f {
      height: 90px !important; }
    .ht-xxl-90p-f {
      height: 90% !important; }
    .ht-xxl-95 {
      height: 95px; }
    .ht-xxl-95p {
      height: 95%; }
    .mx-ht-xxl-95p {
      max-height: 95%; }
    .mn-ht-xxl-95p {
      min-height: 95%; }
    .ht-xxl-95-f {
      height: 95px !important; }
    .ht-xxl-95p-f {
      height: 95% !important; }
    .ht-xxl-100 {
      height: 100px; }
    .ht-xxl-100p {
      height: 100%; }
    .mx-ht-xxl-100p {
      max-height: 100%; }
    .mn-ht-xxl-100p {
      min-height: 100%; }
    .ht-xxl-100-f {
      height: 100px !important; }
    .ht-xxl-100p-f {
      height: 100% !important; }
    .ht-xxl-150 {
      height: 150px; }
    .ht-xxl-150p {
      height: 150%; }
    .mx-ht-xxl-150p {
      max-height: 150%; }
    .mn-ht-xxl-150p {
      min-height: 150%; }
    .ht-xxl-150-f {
      height: 150px !important; }
    .ht-xxl-150p-f {
      height: 150% !important; }
    .ht-xxl-200 {
      height: 200px; }
    .ht-xxl-200p {
      height: 200%; }
    .mx-ht-xxl-200p {
      max-height: 200%; }
    .mn-ht-xxl-200p {
      min-height: 200%; }
    .ht-xxl-200-f {
      height: 200px !important; }
    .ht-xxl-200p-f {
      height: 200% !important; }
    .ht-xxl-250 {
      height: 250px; }
    .ht-xxl-250p {
      height: 250%; }
    .mx-ht-xxl-250p {
      max-height: 250%; }
    .mn-ht-xxl-250p {
      min-height: 250%; }
    .ht-xxl-250-f {
      height: 250px !important; }
    .ht-xxl-250p-f {
      height: 250% !important; }
    .ht-xxl-300 {
      height: 300px; }
    .ht-xxl-300p {
      height: 300%; }
    .mx-ht-xxl-300p {
      max-height: 300%; }
    .mn-ht-xxl-300p {
      min-height: 300%; }
    .ht-xxl-300-f {
      height: 300px !important; }
    .ht-xxl-300p-f {
      height: 300% !important; }
    .ht-xxl-350 {
      height: 350px; }
    .ht-xxl-350p {
      height: 350%; }
    .mx-ht-xxl-350p {
      max-height: 350%; }
    .mn-ht-xxl-350p {
      min-height: 350%; }
    .ht-xxl-350-f {
      height: 350px !important; }
    .ht-xxl-350p-f {
      height: 350% !important; }
    .ht-xxl-400 {
      height: 400px; }
    .ht-xxl-400p {
      height: 400%; }
    .mx-ht-xxl-400p {
      max-height: 400%; }
    .mn-ht-xxl-400p {
      min-height: 400%; }
    .ht-xxl-400-f {
      height: 400px !important; }
    .ht-xxl-400p-f {
      height: 400% !important; }
    .ht-xxl-450 {
      height: 450px; }
    .ht-xxl-450p {
      height: 450%; }
    .mx-ht-xxl-450p {
      max-height: 450%; }
    .mn-ht-xxl-450p {
      min-height: 450%; }
    .ht-xxl-450-f {
      height: 450px !important; }
    .ht-xxl-450p-f {
      height: 450% !important; }
    .ht-xxl-500 {
      height: 500px; }
    .ht-xxl-500p {
      height: 500%; }
    .mx-ht-xxl-500p {
      max-height: 500%; }
    .mn-ht-xxl-500p {
      min-height: 500%; }
    .ht-xxl-500-f {
      height: 500px !important; }
    .ht-xxl-500p-f {
      height: 500% !important; }
    .ht-xxl-550 {
      height: 550px; }
    .ht-xxl-550p {
      height: 550%; }
    .mx-ht-xxl-550p {
      max-height: 550%; }
    .mn-ht-xxl-550p {
      min-height: 550%; }
    .ht-xxl-550-f {
      height: 550px !important; }
    .ht-xxl-550p-f {
      height: 550% !important; }
    .ht-xxl-600 {
      height: 600px; }
    .ht-xxl-600p {
      height: 600%; }
    .mx-ht-xxl-600p {
      max-height: 600%; }
    .mn-ht-xxl-600p {
      min-height: 600%; }
    .ht-xxl-600-f {
      height: 600px !important; }
    .ht-xxl-600p-f {
      height: 600% !important; }
    .ht-xxl-650 {
      height: 650px; }
    .ht-xxl-650p {
      height: 650%; }
    .mx-ht-xxl-650p {
      max-height: 650%; }
    .mn-ht-xxl-650p {
      min-height: 650%; }
    .ht-xxl-650-f {
      height: 650px !important; }
    .ht-xxl-650p-f {
      height: 650% !important; }
    .ht-xxl-700 {
      height: 700px; }
    .ht-xxl-700p {
      height: 700%; }
    .mx-ht-xxl-700p {
      max-height: 700%; }
    .mn-ht-xxl-700p {
      min-height: 700%; }
    .ht-xxl-700-f {
      height: 700px !important; }
    .ht-xxl-700p-f {
      height: 700% !important; }
    .ht-xxl-750 {
      height: 750px; }
    .ht-xxl-750p {
      height: 750%; }
    .mx-ht-xxl-750p {
      max-height: 750%; }
    .mn-ht-xxl-750p {
      min-height: 750%; }
    .mn-ht-xxl-750 {
      min-height: 750px !important; }
    .ht-xxl-750-f {
      height: 750px !important; }
    .ht-xxl-750p-f {
      height: 750% !important; }
    .ht-xxl-800 {
      height: 800px; }
    .ht-xxl-800p {
      height: 800%; }
    .mx-ht-xxl-800p {
      max-height: 800%; }
    .mn-ht-xxl-800p {
      min-height: 800%; }
    .ht-xxl-800-f {
      height: 800px !important; }
    .ht-xxl-800p-f {
      height: 800% !important; }
    .ht-xxl-850 {
      height: 850px; }
    .ht-xxl-850p {
      height: 850%; }
    .mx-ht-xxl-850p {
      max-height: 850%; }
    .mn-ht-xxl-850p {
      min-height: 850%; }
    .ht-xxl-850-f {
      height: 850px !important; }
    .ht-xxl-850p-f {
      height: 850% !important; }
    .ht-xxl-100v {
      height: 100vh; } }

@media (min-width: 1920px) {
  .mg-xxl-0 {
    margin: 0px; }
  .mg-xxl-0-f {
    margin: 0px !important; }
  .mg-xxl-y-0 {
    margin-top: 0px;
    margin-bottom: 0px; }
  .mg-xxl-y-0-f {
    margin-top: 0px !important;
    margin-bottom: 0px !important; }
  .mg-xxl-x-0 {
    margin-left: 0px;
    margin-right: 0px; }
  .mg-xxl-x-0-f {
    margin-left: 0px !important;
    margin-right: 0px !important; }
  .mg-xxl-t-0 {
    margin-top: 0px; }
  .mg-xxl-r-0 {
    margin-right: 0px; }
  .mg-xxl-b-0 {
    margin-bottom: 0px; }
  .mg-xxl-l-0 {
    margin-left: 0px; }
  .mg-xxl-t-0-f {
    margin-top: 0px !important; }
  .mg-xxl-r-0-f {
    margin-right: 0px !important; }
  .mg-xxl-b-0-f {
    margin-bottom: 0px !important; }
  .mg-xxl-l-0-f {
    margin-left: 0px !important; }
  .mg-xxl-1 {
    margin: 1px; }
  .mg-xxl-1-f {
    margin: 1px !important; }
  .mg-xxl-y-1 {
    margin-top: 1px;
    margin-bottom: 1px; }
  .mg-xxl-y-1-f {
    margin-top: 1px !important;
    margin-bottom: 1px !important; }
  .mg-xxl-x-1 {
    margin-left: 1px;
    margin-right: 1px; }
  .mg-xxl-x-1-f {
    margin-left: 1px !important;
    margin-right: 1px !important; }
  .mg-xxl-t-1 {
    margin-top: 1px; }
  .mg-xxl-r-1 {
    margin-right: 1px; }
  .mg-xxl-b-1 {
    margin-bottom: 1px; }
  .mg-xxl-l-1 {
    margin-left: 1px; }
  .mg-xxl-t-1-f {
    margin-top: 1px !important; }
  .mg-xxl-r-1-f {
    margin-right: 1px !important; }
  .mg-xxl-b-1-f {
    margin-bottom: 1px !important; }
  .mg-xxl-l-1-f {
    margin-left: 1px !important; }
  .mg-xxl-2 {
    margin: 2px; }
  .mg-xxl-2-f {
    margin: 2px !important; }
  .mg-xxl-y-2 {
    margin-top: 2px;
    margin-bottom: 2px; }
  .mg-xxl-y-2-f {
    margin-top: 2px !important;
    margin-bottom: 2px !important; }
  .mg-xxl-x-2 {
    margin-left: 2px;
    margin-right: 2px; }
  .mg-xxl-x-2-f {
    margin-left: 2px !important;
    margin-right: 2px !important; }
  .mg-xxl-t-2 {
    margin-top: 2px; }
  .mg-xxl-r-2 {
    margin-right: 2px; }
  .mg-xxl-b-2 {
    margin-bottom: 2px; }
  .mg-xxl-l-2 {
    margin-left: 2px; }
  .mg-xxl-t-2-f {
    margin-top: 2px !important; }
  .mg-xxl-r-2-f {
    margin-right: 2px !important; }
  .mg-xxl-b-2-f {
    margin-bottom: 2px !important; }
  .mg-xxl-l-2-f {
    margin-left: 2px !important; }
  .mg-xxl-3 {
    margin: 3px; }
  .mg-xxl-3-f {
    margin: 3px !important; }
  .mg-xxl-y-3 {
    margin-top: 3px;
    margin-bottom: 3px; }
  .mg-xxl-y-3-f {
    margin-top: 3px !important;
    margin-bottom: 3px !important; }
  .mg-xxl-x-3 {
    margin-left: 3px;
    margin-right: 3px; }
  .mg-xxl-x-3-f {
    margin-left: 3px !important;
    margin-right: 3px !important; }
  .mg-xxl-t-3 {
    margin-top: 3px; }
  .mg-xxl-r-3 {
    margin-right: 3px; }
  .mg-xxl-b-3 {
    margin-bottom: 3px; }
  .mg-xxl-l-3 {
    margin-left: 3px; }
  .mg-xxl-t-3-f {
    margin-top: 3px !important; }
  .mg-xxl-r-3-f {
    margin-right: 3px !important; }
  .mg-xxl-b-3-f {
    margin-bottom: 3px !important; }
  .mg-xxl-l-3-f {
    margin-left: 3px !important; }
  .mg-xxl-4 {
    margin: 4px; }
  .mg-xxl-4-f {
    margin: 4px !important; }
  .mg-xxl-y-4 {
    margin-top: 4px;
    margin-bottom: 4px; }
  .mg-xxl-y-4-f {
    margin-top: 4px !important;
    margin-bottom: 4px !important; }
  .mg-xxl-x-4 {
    margin-left: 4px;
    margin-right: 4px; }
  .mg-xxl-x-4-f {
    margin-left: 4px !important;
    margin-right: 4px !important; }
  .mg-xxl-t-4 {
    margin-top: 4px; }
  .mg-xxl-r-4 {
    margin-right: 4px; }
  .mg-xxl-b-4 {
    margin-bottom: 4px; }
  .mg-xxl-l-4 {
    margin-left: 4px; }
  .mg-xxl-t-4-f {
    margin-top: 4px !important; }
  .mg-xxl-r-4-f {
    margin-right: 4px !important; }
  .mg-xxl-b-4-f {
    margin-bottom: 4px !important; }
  .mg-xxl-l-4-f {
    margin-left: 4px !important; }
  .mg-xxl-5 {
    margin: 5px; }
  .mg-xxl-5-f {
    margin: 5px !important; }
  .mg-xxl-y-5 {
    margin-top: 5px;
    margin-bottom: 5px; }
  .mg-xxl-y-5-f {
    margin-top: 5px !important;
    margin-bottom: 5px !important; }
  .mg-xxl-x-5 {
    margin-left: 5px;
    margin-right: 5px; }
  .mg-xxl-x-5-f {
    margin-left: 5px !important;
    margin-right: 5px !important; }
  .mg-xxl-t-5 {
    margin-top: 5px; }
  .mg-xxl-r-5 {
    margin-right: 5px; }
  .mg-xxl-b-5 {
    margin-bottom: 5px; }
  .mg-xxl-l-5 {
    margin-left: 5px; }
  .mg-xxl-t-5-f {
    margin-top: 5px !important; }
  .mg-xxl-r-5-f {
    margin-right: 5px !important; }
  .mg-xxl-b-5-f {
    margin-bottom: 5px !important; }
  .mg-xxl-l-5-f {
    margin-left: 5px !important; }
  .mg-xxl-6 {
    margin: 6px; }
  .mg-xxl-6-f {
    margin: 6px !important; }
  .mg-xxl-y-6 {
    margin-top: 6px;
    margin-bottom: 6px; }
  .mg-xxl-y-6-f {
    margin-top: 6px !important;
    margin-bottom: 6px !important; }
  .mg-xxl-x-6 {
    margin-left: 6px;
    margin-right: 6px; }
  .mg-xxl-x-6-f {
    margin-left: 6px !important;
    margin-right: 6px !important; }
  .mg-xxl-t-6 {
    margin-top: 6px; }
  .mg-xxl-r-6 {
    margin-right: 6px; }
  .mg-xxl-b-6 {
    margin-bottom: 6px; }
  .mg-xxl-l-6 {
    margin-left: 6px; }
  .mg-xxl-t-6-f {
    margin-top: 6px !important; }
  .mg-xxl-r-6-f {
    margin-right: 6px !important; }
  .mg-xxl-b-6-f {
    margin-bottom: 6px !important; }
  .mg-xxl-l-6-f {
    margin-left: 6px !important; }
  .mg-xxl-7 {
    margin: 7px; }
  .mg-xxl-7-f {
    margin: 7px !important; }
  .mg-xxl-y-7 {
    margin-top: 7px;
    margin-bottom: 7px; }
  .mg-xxl-y-7-f {
    margin-top: 7px !important;
    margin-bottom: 7px !important; }
  .mg-xxl-x-7 {
    margin-left: 7px;
    margin-right: 7px; }
  .mg-xxl-x-7-f {
    margin-left: 7px !important;
    margin-right: 7px !important; }
  .mg-xxl-t-7 {
    margin-top: 7px; }
  .mg-xxl-r-7 {
    margin-right: 7px; }
  .mg-xxl-b-7 {
    margin-bottom: 7px; }
  .mg-xxl-l-7 {
    margin-left: 7px; }
  .mg-xxl-t-7-f {
    margin-top: 7px !important; }
  .mg-xxl-r-7-f {
    margin-right: 7px !important; }
  .mg-xxl-b-7-f {
    margin-bottom: 7px !important; }
  .mg-xxl-l-7-f {
    margin-left: 7px !important; }
  .mg-xxl-8 {
    margin: 8px; }
  .mg-xxl-8-f {
    margin: 8px !important; }
  .mg-xxl-y-8 {
    margin-top: 8px;
    margin-bottom: 8px; }
  .mg-xxl-y-8-f {
    margin-top: 8px !important;
    margin-bottom: 8px !important; }
  .mg-xxl-x-8 {
    margin-left: 8px;
    margin-right: 8px; }
  .mg-xxl-x-8-f {
    margin-left: 8px !important;
    margin-right: 8px !important; }
  .mg-xxl-t-8 {
    margin-top: 8px; }
  .mg-xxl-r-8 {
    margin-right: 8px; }
  .mg-xxl-b-8 {
    margin-bottom: 8px; }
  .mg-xxl-l-8 {
    margin-left: 8px; }
  .mg-xxl-t-8-f {
    margin-top: 8px !important; }
  .mg-xxl-r-8-f {
    margin-right: 8px !important; }
  .mg-xxl-b-8-f {
    margin-bottom: 8px !important; }
  .mg-xxl-l-8-f {
    margin-left: 8px !important; }
  .mg-xxl-9 {
    margin: 9px; }
  .mg-xxl-9-f {
    margin: 9px !important; }
  .mg-xxl-y-9 {
    margin-top: 9px;
    margin-bottom: 9px; }
  .mg-xxl-y-9-f {
    margin-top: 9px !important;
    margin-bottom: 9px !important; }
  .mg-xxl-x-9 {
    margin-left: 9px;
    margin-right: 9px; }
  .mg-xxl-x-9-f {
    margin-left: 9px !important;
    margin-right: 9px !important; }
  .mg-xxl-t-9 {
    margin-top: 9px; }
  .mg-xxl-r-9 {
    margin-right: 9px; }
  .mg-xxl-b-9 {
    margin-bottom: 9px; }
  .mg-xxl-l-9 {
    margin-left: 9px; }
  .mg-xxl-t-9-f {
    margin-top: 9px !important; }
  .mg-xxl-r-9-f {
    margin-right: 9px !important; }
  .mg-xxl-b-9-f {
    margin-bottom: 9px !important; }
  .mg-xxl-l-9-f {
    margin-left: 9px !important; }
  .mg-xxl-10 {
    margin: 10px; }
  .mg-xxl-10-f {
    margin: 10px !important; }
  .mg-xxl-y-10 {
    margin-top: 10px;
    margin-bottom: 10px; }
  .mg-xxl-y-10-f {
    margin-top: 10px !important;
    margin-bottom: 10px !important; }
  .mg-xxl-x-10 {
    margin-left: 10px;
    margin-right: 10px; }
  .mg-xxl-x-10-f {
    margin-left: 10px !important;
    margin-right: 10px !important; }
  .mg-xxl-t-10 {
    margin-top: 10px; }
  .mg-xxl-r-10 {
    margin-right: 10px; }
  .mg-xxl-b-10 {
    margin-bottom: 10px; }
  .mg-xxl-l-10 {
    margin-left: 10px; }
  .mg-xxl-t-10-f {
    margin-top: 10px !important; }
  .mg-xxl-r-10-f {
    margin-right: 10px !important; }
  .mg-xxl-b-10-f {
    margin-bottom: 10px !important; }
  .mg-xxl-l-10-f {
    margin-left: 10px !important; }
  .mg-xxl-15 {
    margin: 15px; }
  .mg-xxl-15-f {
    margin: 15px !important; }
  .mg-xxl-y-15 {
    margin-top: 15px;
    margin-bottom: 15px; }
  .mg-xxl-y-15-f {
    margin-top: 15px !important;
    margin-bottom: 15px !important; }
  .mg-xxl-x-15 {
    margin-left: 15px;
    margin-right: 15px; }
  .mg-xxl-x-15-f {
    margin-left: 15px !important;
    margin-right: 15px !important; }
  .mg-xxl-t-15 {
    margin-top: 15px; }
  .mg-xxl-r-15 {
    margin-right: 15px; }
  .mg-xxl-b-15 {
    margin-bottom: 15px; }
  .mg-xxl-l-15 {
    margin-left: 15px; }
  .mg-xxl-t-15-f {
    margin-top: 15px !important; }
  .mg-xxl-r-15-f {
    margin-right: 15px !important; }
  .mg-xxl-b-15-f {
    margin-bottom: 15px !important; }
  .mg-xxl-l-15-f {
    margin-left: 15px !important; }
  .mg-xxl-20 {
    margin: 20px; }
  .mg-xxl-20-f {
    margin: 20px !important; }
  .mg-xxl-y-20 {
    margin-top: 20px;
    margin-bottom: 20px; }
  .mg-xxl-y-20-f {
    margin-top: 20px !important;
    margin-bottom: 20px !important; }
  .mg-xxl-x-20 {
    margin-left: 20px;
    margin-right: 20px; }
  .mg-xxl-x-20-f {
    margin-left: 20px !important;
    margin-right: 20px !important; }
  .mg-xxl-t-20 {
    margin-top: 20px; }
  .mg-xxl-r-20 {
    margin-right: 20px; }
  .mg-xxl-b-20 {
    margin-bottom: 20px; }
  .mg-xxl-l-20 {
    margin-left: 20px; }
  .mg-xxl-t-20-f {
    margin-top: 20px !important; }
  .mg-xxl-r-20-f {
    margin-right: 20px !important; }
  .mg-xxl-b-20-f {
    margin-bottom: 20px !important; }
  .mg-xxl-l-20-f {
    margin-left: 20px !important; }
  .mg-xxl-25 {
    margin: 25px; }
  .mg-xxl-25-f {
    margin: 25px !important; }
  .mg-xxl-y-25 {
    margin-top: 25px;
    margin-bottom: 25px; }
  .mg-xxl-y-25-f {
    margin-top: 25px !important;
    margin-bottom: 25px !important; }
  .mg-xxl-x-25 {
    margin-left: 25px;
    margin-right: 25px; }
  .mg-xxl-x-25-f {
    margin-left: 25px !important;
    margin-right: 25px !important; }
  .mg-xxl-t-25 {
    margin-top: 25px; }
  .mg-xxl-r-25 {
    margin-right: 25px; }
  .mg-xxl-b-25 {
    margin-bottom: 25px; }
  .mg-xxl-l-25 {
    margin-left: 25px; }
  .mg-xxl-t-25-f {
    margin-top: 25px !important; }
  .mg-xxl-r-25-f {
    margin-right: 25px !important; }
  .mg-xxl-b-25-f {
    margin-bottom: 25px !important; }
  .mg-xxl-l-25-f {
    margin-left: 25px !important; }
  .mg-xxl-30 {
    margin: 30px; }
  .mg-xxl-30-f {
    margin: 30px !important; }
  .mg-xxl-y-30 {
    margin-top: 30px;
    margin-bottom: 30px; }
  .mg-xxl-y-30-f {
    margin-top: 30px !important;
    margin-bottom: 30px !important; }
  .mg-xxl-x-30 {
    margin-left: 30px;
    margin-right: 30px; }
  .mg-xxl-x-30-f {
    margin-left: 30px !important;
    margin-right: 30px !important; }
  .mg-xxl-t-30 {
    margin-top: 30px; }
  .mg-xxl-r-30 {
    margin-right: 30px; }
  .mg-xxl-b-30 {
    margin-bottom: 30px; }
  .mg-xxl-l-30 {
    margin-left: 30px; }
  .mg-xxl-t-30-f {
    margin-top: 30px !important; }
  .mg-xxl-r-30-f {
    margin-right: 30px !important; }
  .mg-xxl-b-30-f {
    margin-bottom: 30px !important; }
  .mg-xxl-l-30-f {
    margin-left: 30px !important; }
  .mg-xxl-35 {
    margin: 35px; }
  .mg-xxl-35-f {
    margin: 35px !important; }
  .mg-xxl-y-35 {
    margin-top: 35px;
    margin-bottom: 35px; }
  .mg-xxl-y-35-f {
    margin-top: 35px !important;
    margin-bottom: 35px !important; }
  .mg-xxl-x-35 {
    margin-left: 35px;
    margin-right: 35px; }
  .mg-xxl-x-35-f {
    margin-left: 35px !important;
    margin-right: 35px !important; }
  .mg-xxl-t-35 {
    margin-top: 35px; }
  .mg-xxl-r-35 {
    margin-right: 35px; }
  .mg-xxl-b-35 {
    margin-bottom: 35px; }
  .mg-xxl-l-35 {
    margin-left: 35px; }
  .mg-xxl-t-35-f {
    margin-top: 35px !important; }
  .mg-xxl-r-35-f {
    margin-right: 35px !important; }
  .mg-xxl-b-35-f {
    margin-bottom: 35px !important; }
  .mg-xxl-l-35-f {
    margin-left: 35px !important; }
  .mg-xxl-40 {
    margin: 40px; }
  .mg-xxl-40-f {
    margin: 40px !important; }
  .mg-xxl-y-40 {
    margin-top: 40px;
    margin-bottom: 40px; }
  .mg-xxl-y-40-f {
    margin-top: 40px !important;
    margin-bottom: 40px !important; }
  .mg-xxl-x-40 {
    margin-left: 40px;
    margin-right: 40px; }
  .mg-xxl-x-40-f {
    margin-left: 40px !important;
    margin-right: 40px !important; }
  .mg-xxl-t-40 {
    margin-top: 40px; }
  .mg-xxl-r-40 {
    margin-right: 40px; }
  .mg-xxl-b-40 {
    margin-bottom: 40px; }
  .mg-xxl-l-40 {
    margin-left: 40px; }
  .mg-xxl-t-40-f {
    margin-top: 40px !important; }
  .mg-xxl-r-40-f {
    margin-right: 40px !important; }
  .mg-xxl-b-40-f {
    margin-bottom: 40px !important; }
  .mg-xxl-l-40-f {
    margin-left: 40px !important; }
  .mg-xxl-45 {
    margin: 45px; }
  .mg-xxl-45-f {
    margin: 45px !important; }
  .mg-xxl-y-45 {
    margin-top: 45px;
    margin-bottom: 45px; }
  .mg-xxl-y-45-f {
    margin-top: 45px !important;
    margin-bottom: 45px !important; }
  .mg-xxl-x-45 {
    margin-left: 45px;
    margin-right: 45px; }
  .mg-xxl-x-45-f {
    margin-left: 45px !important;
    margin-right: 45px !important; }
  .mg-xxl-t-45 {
    margin-top: 45px; }
  .mg-xxl-r-45 {
    margin-right: 45px; }
  .mg-xxl-b-45 {
    margin-bottom: 45px; }
  .mg-xxl-l-45 {
    margin-left: 45px; }
  .mg-xxl-t-45-f {
    margin-top: 45px !important; }
  .mg-xxl-r-45-f {
    margin-right: 45px !important; }
  .mg-xxl-b-45-f {
    margin-bottom: 45px !important; }
  .mg-xxl-l-45-f {
    margin-left: 45px !important; }
  .mg-xxl-50 {
    margin: 50px; }
  .mg-xxl-50-f {
    margin: 50px !important; }
  .mg-xxl-y-50 {
    margin-top: 50px;
    margin-bottom: 50px; }
  .mg-xxl-y-50-f {
    margin-top: 50px !important;
    margin-bottom: 50px !important; }
  .mg-xxl-x-50 {
    margin-left: 50px;
    margin-right: 50px; }
  .mg-xxl-x-50-f {
    margin-left: 50px !important;
    margin-right: 50px !important; }
  .mg-xxl-t-50 {
    margin-top: 50px; }
  .mg-xxl-r-50 {
    margin-right: 50px; }
  .mg-xxl-b-50 {
    margin-bottom: 50px; }
  .mg-xxl-l-50 {
    margin-left: 50px; }
  .mg-xxl-t-50-f {
    margin-top: 50px !important; }
  .mg-xxl-r-50-f {
    margin-right: 50px !important; }
  .mg-xxl-b-50-f {
    margin-bottom: 50px !important; }
  .mg-xxl-l-50-f {
    margin-left: 50px !important; }
  .mg-xxl-55 {
    margin: 55px; }
  .mg-xxl-55-f {
    margin: 55px !important; }
  .mg-xxl-y-55 {
    margin-top: 55px;
    margin-bottom: 55px; }
  .mg-xxl-y-55-f {
    margin-top: 55px !important;
    margin-bottom: 55px !important; }
  .mg-xxl-x-55 {
    margin-left: 55px;
    margin-right: 55px; }
  .mg-xxl-x-55-f {
    margin-left: 55px !important;
    margin-right: 55px !important; }
  .mg-xxl-t-55 {
    margin-top: 55px; }
  .mg-xxl-r-55 {
    margin-right: 55px; }
  .mg-xxl-b-55 {
    margin-bottom: 55px; }
  .mg-xxl-l-55 {
    margin-left: 55px; }
  .mg-xxl-t-55-f {
    margin-top: 55px !important; }
  .mg-xxl-r-55-f {
    margin-right: 55px !important; }
  .mg-xxl-b-55-f {
    margin-bottom: 55px !important; }
  .mg-xxl-l-55-f {
    margin-left: 55px !important; }
  .mg-xxl-60 {
    margin: 60px; }
  .mg-xxl-60-f {
    margin: 60px !important; }
  .mg-xxl-y-60 {
    margin-top: 60px;
    margin-bottom: 60px; }
  .mg-xxl-y-60-f {
    margin-top: 60px !important;
    margin-bottom: 60px !important; }
  .mg-xxl-x-60 {
    margin-left: 60px;
    margin-right: 60px; }
  .mg-xxl-x-60-f {
    margin-left: 60px !important;
    margin-right: 60px !important; }
  .mg-xxl-t-60 {
    margin-top: 60px; }
  .mg-xxl-r-60 {
    margin-right: 60px; }
  .mg-xxl-b-60 {
    margin-bottom: 60px; }
  .mg-xxl-l-60 {
    margin-left: 60px; }
  .mg-xxl-t-60-f {
    margin-top: 60px !important; }
  .mg-xxl-r-60-f {
    margin-right: 60px !important; }
  .mg-xxl-b-60-f {
    margin-bottom: 60px !important; }
  .mg-xxl-l-60-f {
    margin-left: 60px !important; }
  .mg-xxl-65 {
    margin: 65px; }
  .mg-xxl-65-f {
    margin: 65px !important; }
  .mg-xxl-y-65 {
    margin-top: 65px;
    margin-bottom: 65px; }
  .mg-xxl-y-65-f {
    margin-top: 65px !important;
    margin-bottom: 65px !important; }
  .mg-xxl-x-65 {
    margin-left: 65px;
    margin-right: 65px; }
  .mg-xxl-x-65-f {
    margin-left: 65px !important;
    margin-right: 65px !important; }
  .mg-xxl-t-65 {
    margin-top: 65px; }
  .mg-xxl-r-65 {
    margin-right: 65px; }
  .mg-xxl-b-65 {
    margin-bottom: 65px; }
  .mg-xxl-l-65 {
    margin-left: 65px; }
  .mg-xxl-t-65-f {
    margin-top: 65px !important; }
  .mg-xxl-r-65-f {
    margin-right: 65px !important; }
  .mg-xxl-b-65-f {
    margin-bottom: 65px !important; }
  .mg-xxl-l-65-f {
    margin-left: 65px !important; }
  .mg-xxl-70 {
    margin: 70px; }
  .mg-xxl-70-f {
    margin: 70px !important; }
  .mg-xxl-y-70 {
    margin-top: 70px;
    margin-bottom: 70px; }
  .mg-xxl-y-70-f {
    margin-top: 70px !important;
    margin-bottom: 70px !important; }
  .mg-xxl-x-70 {
    margin-left: 70px;
    margin-right: 70px; }
  .mg-xxl-x-70-f {
    margin-left: 70px !important;
    margin-right: 70px !important; }
  .mg-xxl-t-70 {
    margin-top: 70px; }
  .mg-xxl-r-70 {
    margin-right: 70px; }
  .mg-xxl-b-70 {
    margin-bottom: 70px; }
  .mg-xxl-l-70 {
    margin-left: 70px; }
  .mg-xxl-t-70-f {
    margin-top: 70px !important; }
  .mg-xxl-r-70-f {
    margin-right: 70px !important; }
  .mg-xxl-b-70-f {
    margin-bottom: 70px !important; }
  .mg-xxl-l-70-f {
    margin-left: 70px !important; }
  .mg-xxl-75 {
    margin: 75px; }
  .mg-xxl-75-f {
    margin: 75px !important; }
  .mg-xxl-y-75 {
    margin-top: 75px;
    margin-bottom: 75px; }
  .mg-xxl-y-75-f {
    margin-top: 75px !important;
    margin-bottom: 75px !important; }
  .mg-xxl-x-75 {
    margin-left: 75px;
    margin-right: 75px; }
  .mg-xxl-x-75-f {
    margin-left: 75px !important;
    margin-right: 75px !important; }
  .mg-xxl-t-75 {
    margin-top: 75px; }
  .mg-xxl-r-75 {
    margin-right: 75px; }
  .mg-xxl-b-75 {
    margin-bottom: 75px; }
  .mg-xxl-l-75 {
    margin-left: 75px; }
  .mg-xxl-t-75-f {
    margin-top: 75px !important; }
  .mg-xxl-r-75-f {
    margin-right: 75px !important; }
  .mg-xxl-b-75-f {
    margin-bottom: 75px !important; }
  .mg-xxl-l-75-f {
    margin-left: 75px !important; }
  .mg-xxl-80 {
    margin: 80px; }
  .mg-xxl-80-f {
    margin: 80px !important; }
  .mg-xxl-y-80 {
    margin-top: 80px;
    margin-bottom: 80px; }
  .mg-xxl-y-80-f {
    margin-top: 80px !important;
    margin-bottom: 80px !important; }
  .mg-xxl-x-80 {
    margin-left: 80px;
    margin-right: 80px; }
  .mg-xxl-x-80-f {
    margin-left: 80px !important;
    margin-right: 80px !important; }
  .mg-xxl-t-80 {
    margin-top: 80px; }
  .mg-xxl-r-80 {
    margin-right: 80px; }
  .mg-xxl-b-80 {
    margin-bottom: 80px; }
  .mg-xxl-l-80 {
    margin-left: 80px; }
  .mg-xxl-t-80-f {
    margin-top: 80px !important; }
  .mg-xxl-r-80-f {
    margin-right: 80px !important; }
  .mg-xxl-b-80-f {
    margin-bottom: 80px !important; }
  .mg-xxl-l-80-f {
    margin-left: 80px !important; }
  .mg-xxl-85 {
    margin: 85px; }
  .mg-xxl-85-f {
    margin: 85px !important; }
  .mg-xxl-y-85 {
    margin-top: 85px;
    margin-bottom: 85px; }
  .mg-xxl-y-85-f {
    margin-top: 85px !important;
    margin-bottom: 85px !important; }
  .mg-xxl-x-85 {
    margin-left: 85px;
    margin-right: 85px; }
  .mg-xxl-x-85-f {
    margin-left: 85px !important;
    margin-right: 85px !important; }
  .mg-xxl-t-85 {
    margin-top: 85px; }
  .mg-xxl-r-85 {
    margin-right: 85px; }
  .mg-xxl-b-85 {
    margin-bottom: 85px; }
  .mg-xxl-l-85 {
    margin-left: 85px; }
  .mg-xxl-t-85-f {
    margin-top: 85px !important; }
  .mg-xxl-r-85-f {
    margin-right: 85px !important; }
  .mg-xxl-b-85-f {
    margin-bottom: 85px !important; }
  .mg-xxl-l-85-f {
    margin-left: 85px !important; }
  .mg-xxl-90 {
    margin: 90px; }
  .mg-xxl-90-f {
    margin: 90px !important; }
  .mg-xxl-y-90 {
    margin-top: 90px;
    margin-bottom: 90px; }
  .mg-xxl-y-90-f {
    margin-top: 90px !important;
    margin-bottom: 90px !important; }
  .mg-xxl-x-90 {
    margin-left: 90px;
    margin-right: 90px; }
  .mg-xxl-x-90-f {
    margin-left: 90px !important;
    margin-right: 90px !important; }
  .mg-xxl-t-90 {
    margin-top: 90px; }
  .mg-xxl-r-90 {
    margin-right: 90px; }
  .mg-xxl-b-90 {
    margin-bottom: 90px; }
  .mg-xxl-l-90 {
    margin-left: 90px; }
  .mg-xxl-t-90-f {
    margin-top: 90px !important; }
  .mg-xxl-r-90-f {
    margin-right: 90px !important; }
  .mg-xxl-b-90-f {
    margin-bottom: 90px !important; }
  .mg-xxl-l-90-f {
    margin-left: 90px !important; }
  .mg-xxl-95 {
    margin: 95px; }
  .mg-xxl-95-f {
    margin: 95px !important; }
  .mg-xxl-y-95 {
    margin-top: 95px;
    margin-bottom: 95px; }
  .mg-xxl-y-95-f {
    margin-top: 95px !important;
    margin-bottom: 95px !important; }
  .mg-xxl-x-95 {
    margin-left: 95px;
    margin-right: 95px; }
  .mg-xxl-x-95-f {
    margin-left: 95px !important;
    margin-right: 95px !important; }
  .mg-xxl-t-95 {
    margin-top: 95px; }
  .mg-xxl-r-95 {
    margin-right: 95px; }
  .mg-xxl-b-95 {
    margin-bottom: 95px; }
  .mg-xxl-l-95 {
    margin-left: 95px; }
  .mg-xxl-t-95-f {
    margin-top: 95px !important; }
  .mg-xxl-r-95-f {
    margin-right: 95px !important; }
  .mg-xxl-b-95-f {
    margin-bottom: 95px !important; }
  .mg-xxl-l-95-f {
    margin-left: 95px !important; }
  .mg-xxl-100 {
    margin: 100px; }
  .mg-xxl-100-f {
    margin: 100px !important; }
  .mg-xxl-y-100 {
    margin-top: 100px;
    margin-bottom: 100px; }
  .mg-xxl-y-100-f {
    margin-top: 100px !important;
    margin-bottom: 100px !important; }
  .mg-xxl-x-100 {
    margin-left: 100px;
    margin-right: 100px; }
  .mg-xxl-x-100-f {
    margin-left: 100px !important;
    margin-right: 100px !important; }
  .mg-xxl-t-100 {
    margin-top: 100px; }
  .mg-xxl-r-100 {
    margin-right: 100px; }
  .mg-xxl-b-100 {
    margin-bottom: 100px; }
  .mg-xxl-l-100 {
    margin-left: 100px; }
  .mg-xxl-t-100-f {
    margin-top: 100px !important; }
  .mg-xxl-r-100-f {
    margin-right: 100px !important; }
  .mg-xxl-b-100-f {
    margin-bottom: 100px !important; }
  .mg-xxl-l-100-f {
    margin-left: 100px !important; }
  .mg-xxl-150 {
    margin: 150px; }
  .mg-xxl-150-f {
    margin: 150px !important; }
  .mg-xxl-y-150 {
    margin-top: 150px;
    margin-bottom: 150px; }
  .mg-xxl-y-150-f {
    margin-top: 150px !important;
    margin-bottom: 150px !important; }
  .mg-xxl-x-150 {
    margin-left: 150px;
    margin-right: 150px; }
  .mg-xxl-x-150-f {
    margin-left: 150px !important;
    margin-right: 150px !important; }
  .mg-xxl-t-150 {
    margin-top: 150px; }
  .mg-xxl-r-150 {
    margin-right: 150px; }
  .mg-xxl-b-150 {
    margin-bottom: 150px; }
  .mg-xxl-l-150 {
    margin-left: 150px; }
  .mg-xxl-t-150-f {
    margin-top: 150px !important; }
  .mg-xxl-r-150-f {
    margin-right: 150px !important; }
  .mg-xxl-b-150-f {
    margin-bottom: 150px !important; }
  .mg-xxl-l-150-f {
    margin-left: 150px !important; }
  .mg-xxl-200 {
    margin: 200px; }
  .mg-xxl-200-f {
    margin: 200px !important; }
  .mg-xxl-y-200 {
    margin-top: 200px;
    margin-bottom: 200px; }
  .mg-xxl-y-200-f {
    margin-top: 200px !important;
    margin-bottom: 200px !important; }
  .mg-xxl-x-200 {
    margin-left: 200px;
    margin-right: 200px; }
  .mg-xxl-x-200-f {
    margin-left: 200px !important;
    margin-right: 200px !important; }
  .mg-xxl-t-200 {
    margin-top: 200px; }
  .mg-xxl-r-200 {
    margin-right: 200px; }
  .mg-xxl-b-200 {
    margin-bottom: 200px; }
  .mg-xxl-l-200 {
    margin-left: 200px; }
  .mg-xxl-t-200-f {
    margin-top: 200px !important; }
  .mg-xxl-r-200-f {
    margin-right: 200px !important; }
  .mg-xxl-b-200-f {
    margin-bottom: 200px !important; }
  .mg-xxl-l-200-f {
    margin-left: 200px !important; }
  .mg-xxl-250 {
    margin: 250px; }
  .mg-xxl-250-f {
    margin: 250px !important; }
  .mg-xxl-y-250 {
    margin-top: 250px;
    margin-bottom: 250px; }
  .mg-xxl-y-250-f {
    margin-top: 250px !important;
    margin-bottom: 250px !important; }
  .mg-xxl-x-250 {
    margin-left: 250px;
    margin-right: 250px; }
  .mg-xxl-x-250-f {
    margin-left: 250px !important;
    margin-right: 250px !important; }
  .mg-xxl-t-250 {
    margin-top: 250px; }
  .mg-xxl-r-250 {
    margin-right: 250px; }
  .mg-xxl-b-250 {
    margin-bottom: 250px; }
  .mg-xxl-l-250 {
    margin-left: 250px; }
  .mg-xxl-t-250-f {
    margin-top: 250px !important; }
  .mg-xxl-r-250-f {
    margin-right: 250px !important; }
  .mg-xxl-b-250-f {
    margin-bottom: 250px !important; }
  .mg-xxl-l-250-f {
    margin-left: 250px !important; }
  .mg-xxl-300 {
    margin: 300px; }
  .mg-xxl-300-f {
    margin: 300px !important; }
  .mg-xxl-y-300 {
    margin-top: 300px;
    margin-bottom: 300px; }
  .mg-xxl-y-300-f {
    margin-top: 300px !important;
    margin-bottom: 300px !important; }
  .mg-xxl-x-300 {
    margin-left: 300px;
    margin-right: 300px; }
  .mg-xxl-x-300-f {
    margin-left: 300px !important;
    margin-right: 300px !important; }
  .mg-xxl-t-300 {
    margin-top: 300px; }
  .mg-xxl-r-300 {
    margin-right: 300px; }
  .mg-xxl-b-300 {
    margin-bottom: 300px; }
  .mg-xxl-l-300 {
    margin-left: 300px; }
  .mg-xxl-t-300-f {
    margin-top: 300px !important; }
  .mg-xxl-r-300-f {
    margin-right: 300px !important; }
  .mg-xxl-b-300-f {
    margin-bottom: 300px !important; }
  .mg-xxl-l-300-f {
    margin-left: 300px !important; }
  .mg-xxl-350 {
    margin: 350px; }
  .mg-xxl-350-f {
    margin: 350px !important; }
  .mg-xxl-y-350 {
    margin-top: 350px;
    margin-bottom: 350px; }
  .mg-xxl-y-350-f {
    margin-top: 350px !important;
    margin-bottom: 350px !important; }
  .mg-xxl-x-350 {
    margin-left: 350px;
    margin-right: 350px; }
  .mg-xxl-x-350-f {
    margin-left: 350px !important;
    margin-right: 350px !important; }
  .mg-xxl-t-350 {
    margin-top: 350px; }
  .mg-xxl-r-350 {
    margin-right: 350px; }
  .mg-xxl-b-350 {
    margin-bottom: 350px; }
  .mg-xxl-l-350 {
    margin-left: 350px; }
  .mg-xxl-t-350-f {
    margin-top: 350px !important; }
  .mg-xxl-r-350-f {
    margin-right: 350px !important; }
  .mg-xxl-b-350-f {
    margin-bottom: 350px !important; }
  .mg-xxl-l-350-f {
    margin-left: 350px !important; }
  .mg-xxl-400 {
    margin: 400px; }
  .mg-xxl-400-f {
    margin: 400px !important; }
  .mg-xxl-y-400 {
    margin-top: 400px;
    margin-bottom: 400px; }
  .mg-xxl-y-400-f {
    margin-top: 400px !important;
    margin-bottom: 400px !important; }
  .mg-xxl-x-400 {
    margin-left: 400px;
    margin-right: 400px; }
  .mg-xxl-x-400-f {
    margin-left: 400px !important;
    margin-right: 400px !important; }
  .mg-xxl-t-400 {
    margin-top: 400px; }
  .mg-xxl-r-400 {
    margin-right: 400px; }
  .mg-xxl-b-400 {
    margin-bottom: 400px; }
  .mg-xxl-l-400 {
    margin-left: 400px; }
  .mg-xxl-t-400-f {
    margin-top: 400px !important; }
  .mg-xxl-r-400-f {
    margin-right: 400px !important; }
  .mg-xxl-b-400-f {
    margin-bottom: 400px !important; }
  .mg-xxl-l-400-f {
    margin-left: 400px !important; }
  .mg-xxl-450 {
    margin: 450px; }
  .mg-xxl-450-f {
    margin: 450px !important; }
  .mg-xxl-y-450 {
    margin-top: 450px;
    margin-bottom: 450px; }
  .mg-xxl-y-450-f {
    margin-top: 450px !important;
    margin-bottom: 450px !important; }
  .mg-xxl-x-450 {
    margin-left: 450px;
    margin-right: 450px; }
  .mg-xxl-x-450-f {
    margin-left: 450px !important;
    margin-right: 450px !important; }
  .mg-xxl-t-450 {
    margin-top: 450px; }
  .mg-xxl-r-450 {
    margin-right: 450px; }
  .mg-xxl-b-450 {
    margin-bottom: 450px; }
  .mg-xxl-l-450 {
    margin-left: 450px; }
  .mg-xxl-t-450-f {
    margin-top: 450px !important; }
  .mg-xxl-r-450-f {
    margin-right: 450px !important; }
  .mg-xxl-b-450-f {
    margin-bottom: 450px !important; }
  .mg-xxl-l-450-f {
    margin-left: 450px !important; }
  .mg-xxl-500 {
    margin: 500px; }
  .mg-xxl-500-f {
    margin: 500px !important; }
  .mg-xxl-y-500 {
    margin-top: 500px;
    margin-bottom: 500px; }
  .mg-xxl-y-500-f {
    margin-top: 500px !important;
    margin-bottom: 500px !important; }
  .mg-xxl-x-500 {
    margin-left: 500px;
    margin-right: 500px; }
  .mg-xxl-x-500-f {
    margin-left: 500px !important;
    margin-right: 500px !important; }
  .mg-xxl-t-500 {
    margin-top: 500px; }
  .mg-xxl-r-500 {
    margin-right: 500px; }
  .mg-xxl-b-500 {
    margin-bottom: 500px; }
  .mg-xxl-l-500 {
    margin-left: 500px; }
  .mg-xxl-t-500-f {
    margin-top: 500px !important; }
  .mg-xxl-r-500-f {
    margin-right: 500px !important; }
  .mg-xxl-b-500-f {
    margin-bottom: 500px !important; }
  .mg-xxl-l-500-f {
    margin-left: 500px !important; }
  .mg-xxl-550 {
    margin: 550px; }
  .mg-xxl-550-f {
    margin: 550px !important; }
  .mg-xxl-y-550 {
    margin-top: 550px;
    margin-bottom: 550px; }
  .mg-xxl-y-550-f {
    margin-top: 550px !important;
    margin-bottom: 550px !important; }
  .mg-xxl-x-550 {
    margin-left: 550px;
    margin-right: 550px; }
  .mg-xxl-x-550-f {
    margin-left: 550px !important;
    margin-right: 550px !important; }
  .mg-xxl-t-550 {
    margin-top: 550px; }
  .mg-xxl-r-550 {
    margin-right: 550px; }
  .mg-xxl-b-550 {
    margin-bottom: 550px; }
  .mg-xxl-l-550 {
    margin-left: 550px; }
  .mg-xxl-t-550-f {
    margin-top: 550px !important; }
  .mg-xxl-r-550-f {
    margin-right: 550px !important; }
  .mg-xxl-b-550-f {
    margin-bottom: 550px !important; }
  .mg-xxl-l-550-f {
    margin-left: 550px !important; }
  .mg-xxl-600 {
    margin: 600px; }
  .mg-xxl-600-f {
    margin: 600px !important; }
  .mg-xxl-y-600 {
    margin-top: 600px;
    margin-bottom: 600px; }
  .mg-xxl-y-600-f {
    margin-top: 600px !important;
    margin-bottom: 600px !important; }
  .mg-xxl-x-600 {
    margin-left: 600px;
    margin-right: 600px; }
  .mg-xxl-x-600-f {
    margin-left: 600px !important;
    margin-right: 600px !important; }
  .mg-xxl-t-600 {
    margin-top: 600px; }
  .mg-xxl-r-600 {
    margin-right: 600px; }
  .mg-xxl-b-600 {
    margin-bottom: 600px; }
  .mg-xxl-l-600 {
    margin-left: 600px; }
  .mg-xxl-t-600-f {
    margin-top: 600px !important; }
  .mg-xxl-r-600-f {
    margin-right: 600px !important; }
  .mg-xxl-b-600-f {
    margin-bottom: 600px !important; }
  .mg-xxl-l-600-f {
    margin-left: 600px !important; }
  .mg-xxl-650 {
    margin: 650px; }
  .mg-xxl-650-f {
    margin: 650px !important; }
  .mg-xxl-y-650 {
    margin-top: 650px;
    margin-bottom: 650px; }
  .mg-xxl-y-650-f {
    margin-top: 650px !important;
    margin-bottom: 650px !important; }
  .mg-xxl-x-650 {
    margin-left: 650px;
    margin-right: 650px; }
  .mg-xxl-x-650-f {
    margin-left: 650px !important;
    margin-right: 650px !important; }
  .mg-xxl-t-650 {
    margin-top: 650px; }
  .mg-xxl-r-650 {
    margin-right: 650px; }
  .mg-xxl-b-650 {
    margin-bottom: 650px; }
  .mg-xxl-l-650 {
    margin-left: 650px; }
  .mg-xxl-t-650-f {
    margin-top: 650px !important; }
  .mg-xxl-r-650-f {
    margin-right: 650px !important; }
  .mg-xxl-b-650-f {
    margin-bottom: 650px !important; }
  .mg-xxl-l-650-f {
    margin-left: 650px !important; }
  .mg-xxl-t-auto {
    margin-top: auto; }
  .mg-xxl-r-auto {
    margin-right: auto; }
  .mg-xxl-b-auto {
    margin-bottom: auto; }
  .mg-xxl-l-auto {
    margin-left: auto; }
  .mg-xxl-auto {
    margin: auto; }
  .mg-xxl-x-auto {
    margin-left: auto;
    margin-right: auto; } }

.col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl,
.col-xxl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 1920px) {
  .col-xxl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-xxl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xxl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xxl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xxl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xxl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xxl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xxl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xxl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xxl-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xxl-first {
    order: -1; }
  .order-xxl-last {
    order: 13; }
  .order-xxl-0 {
    order: 0; }
  .order-xxl-1 {
    order: 1; }
  .order-xxl-2 {
    order: 2; }
  .order-xxl-3 {
    order: 3; }
  .order-xxl-4 {
    order: 4; }
  .order-xxl-5 {
    order: 5; }
  .order-xxl-6 {
    order: 6; }
  .order-xxl-7 {
    order: 7; }
  .order-xxl-8 {
    order: 8; }
  .order-xxl-9 {
    order: 9; }
  .order-xxl-10 {
    order: 10; }
  .order-xxl-11 {
    order: 11; }
  .order-xxl-12 {
    order: 12; }
  .offset-xxl-0 {
    margin-left: 0; }
  .offset-xxl-1 {
    margin-left: 8.33333%; }
  .offset-xxl-2 {
    margin-left: 16.66667%; }
  .offset-xxl-3 {
    margin-left: 25%; }
  .offset-xxl-4 {
    margin-left: 33.33333%; }
  .offset-xxl-5 {
    margin-left: 41.66667%; }
  .offset-xxl-6 {
    margin-left: 50%; }
  .offset-xxl-7 {
    margin-left: 58.33333%; }
  .offset-xxl-8 {
    margin-left: 66.66667%; }
  .offset-xxl-9 {
    margin-left: 75%; }
  .offset-xxl-10 {
    margin-left: 83.33333%; }
  .offset-xxl-11 {
    margin-left: 91.66667%; } }